In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
csv_file = "Resources/mag_columns_14.csv"
wine_df = pd.read_csv(csv_file)
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
#create new data with select columns
new_wine_df = wine_df[['description', 'points', 'country', 'province', 'variety', 'price' ]]
new_wine_df.head()

,description,points,country,province,variety,price
0,"Aromas include tropical fruit, broom, brimston...",87,Italy,Sicily & Sardinia,White Blend,NaN
1,"This is ripe and fruity, a wine that is smooth...",87,Portugal,Douro,Portuguese Red,15.0
2,"Tart and snappy, the flavors of lime flesh and...",87,US,Oregon,Pinot Gris,14.0
3,"Pineapple rind, lemon pith and orange blossom ...",87,US,Michigan,Riesling,13.0
4,"Much like the regular bottling from 2012, this...",87,US,Oregon,Pinot Noir,65.0

In [5]:
#clean data frame
new_wine_df.count()

description    129971
points         129971
country        129908
province       129908
variety        129970
price          120975
dtype: int64

In [6]:
#drop missing rows
new_wine_df = new_wine_df.dropna(how ="any")

In [7]:
new_wine_df.count()

description    120915
points         120915
country        120915
province       120915
variety        120915
price          120915
dtype: int64

## Cleaning 11 column dataset

In [ ]:
csv_file = "Resources/mag_columns_11.csv"
wine_df = pd.read_csv(csv_file)
wine_df.head()

In [ ]:
#create new data with select columns
new_wine11_df = wine_df[['description', 'points', 'country', 'province', 'variety', 'price' ]]
new_wine11_df.head()

In [ ]:
#clean data frame
new_wine11_df.count()

In [ ]:
#drop missing rows
new_wine11_df = new_wine11_df.dropna(how ="any")

In [ ]:
new_wine11_df.count()

### Connect to local database

In [ ]:
rds_connection_string = "root:password@127.0.0.1/new_wine_db"
engine = create_engine(f'mysql://{rds_connection_string}')

### Check for tables

In [ ]:
engine.table_names

### Use pandas to load csv converted DataFrame into database

In [ ]:
#to_sql has the name, con if exists_ parameters, con is equal to the sqlalchemy engine, if exists tells pandas what to do if the engine already exists
#we are passing sql alchemy into pandas
new_wine_df.to_sql(name='wine_data', con=engine, if_exists='append', index=False)